---
import { Content as AboutRelay } from '../../../data/homepage/about-relay.md';
---

<div
  class="max-w-[700px] md:mx-auto flex justify-center items-center px-16 lg:px-0 text-2xl/[30px] lg:text-3xl/[40px] text-center lg:text-right"
>
  <AboutRelay />
</div>
