---
import Text from './Text.astro';
import Img from './Img.astro';
---

<section class="my-20 sm:my-28 md:my-32 lg:my-20">
  <div class="container grid grid-cols-1 lg:grid-cols-2 lg:gap-16 lg:px-16">
    <Text />
    <Img />
  </div>
</section>
