---
import Img from './Img.astro';
import Text from './Text.astro';
---

<section
  class="relative md:h-dvh md:min-h-[700px] w-full flex justify-center items-center"
>
  <Text />
  <Img />
</section>
