---
import CalendarItem from './Item.astro';
const { entries } = Astro.props;
---

<ol data-collection="calendar">
  {
    entries.map((entry) => (
      <li class="box-shadow">
        <article>
          <CalendarItem entry={entry} />
        </article>
      </li>
    ))
  }
</ol>
