---
// USING ./about.md instead of this file so commenting out imports that don't work
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

// import { Content as History } from '../../content/history-of-Relay.md';

const title = 'About';
---

<BaseLayout title={title}>
  <Nav />
  <main class="container">
    <h1>{title}</h1>
    <!-- <History /> -->
  </main>
  <Footer />
</BaseLayout>
