---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Section1 from '../components/Section1.astro';
import Section2 from '../components/Section2.astro';
import Footer from '../components/Footer.astro';

const title = 'Welcome to Relay, Maryland';
---

<Layout title={title}>
  <Nav />
  <main>
    <Hero />
    <Section1 />
    <Section2 />
  </main>
  <Footer />
</Layout>
