---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';

const title = 'Welcome to Relay, Maryland';
---

<Layout title={title}>
  <Nav />
  <main>
    <Hero />
  </main>
</Layout>
