---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Feature1 from '../components/HomeCallOutWithImageSection/Index.astro';
import Feature2 from '../components/HomeTextOnImageSection/Index.astro';
import Footer from '../components/Footer.astro';

const title = 'Welcome to Relay, Maryland';
---

<BaseLayout title={title}>
  <Nav />
  <main>
    <Hero />
    <Feature1 />
    <Feature2 />
  </main>
  <Footer />
</BaseLayout>
