---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';

const title = 'Welcome to Relay, Maryland';
---

<Layout title={title}>
  <Header />
  <main>
    <Hero />
  </main>
</Layout>
