---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/SiteHeader/Nav.astro';
import Hero from '../components/HomePage/Hero.astro';
import AboutRelay from '../components/HomePage/AboutRelaySection/Root.astro';
import VibrantDestination from '../components/HomePage/VibrantDestinationSection/Root.astro';
import NewsAndCalendar from '../components/HomePage/NewsAndCalendar/Root.astro';
import Footer from '../components/SiteFooter/Footer.astro';

const title = 'Welcome to Relay, Maryland';
---

<BaseLayout title={title}>
  <Nav />
  <main>
    <Hero />
    <AboutRelay />
    <VibrantDestination />
    <NewsAndCalendar />
  </main>
  <Footer />
</BaseLayout>
