---
import { getCollection } from 'astro:content';

const allPosts = await getCollection('news');
---

<h2>News List</h2>
<ol>
  {
    allPosts.map((post) => (
      <li>
        <a href={`/news/${post.slug}`}>{post.data.title}</a>
      </li>
    ))
  }
</ol>
