---
import routes from '../data/routes.mjs';
import contact from '../data/contact.mjs';

import SvgFb from './SvgFb.astro';

const rts = routes.map((route) => Object.entries(route)[0]);
---

<style>
  footer {
    @apply mt-auto py-10;
    @apply flex flex-col justify-center items-center gap-y-4;
  }
  nav a {
    @apply text-base sm:text-lg;
    @apply transition hover:underline hover:text-red text-center;
  }
</style>

<footer class="container">
  <p class="text-lg font-bold">Relay Improvement Association</p>
  <nav class="flex flex-col gap-y-5">
    <div class="flex flex-wrap justify-center gap-x-6">
      {rts.map(([path, title]) => <a href={path}>{title}</a>)}
    </div>
    <div class="flex justify-center">
      <a href={contact.facebook}><SvgFb /></a>
    </div>
  </nav>
</footer>
