---
import { Image } from 'astro:assets';
import heroImg from '../img/hero-sign.jpg';

import { Content as About } from '../../content/about-relay.md';

const heroImgDescription = 'Welcome sign at Relay, Maryland';
const headline = 'Greetings from Relay and St. Denis!';
---

<style>
  .btn {
    @apply inline-block rounded bg-red px-6 py-2 text-lg text-white;
    @apply transition hover:bg-red-dark;
  }
</style>

<section class="overflow-hidden bg-yellow sm:grid sm:grid-cols-2">
  <div class="mx-auto max-w-lg p-8 md:p-12 lg:px-16 lg:py-24 text-center">
    <h2 class="mb-6 text-3xl font-bold text-black md:text-5xl">
      {headline}
    </h2>

    <div class="text-xl/[30px]">
      <About />
    </div>

    <div class="mt-4 md:mt-8">
      <a href="" class="btn"> Explore</a>
    </div>
  </div>

  <Image
    src={heroImg}
    alt={heroImgDescription}
    class="h-56 w-full object-cover sm:h-full"
  />
</section>
