---
import { Image } from 'astro:assets';
import heroImg from '../img/hero-sign.jpg';

import { Content as About } from '../../content/about-relay.md';

const heroImgDescription = 'Welcome sign at Relay, Maryland';
const headline = 'Welcome to Relay!';
---

<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        {headline}
      </h2>

      <div class="hidden text-gray-500 md:mt-4 md:block">
        <About />
      </div>

      <div class="mt-4 md:mt-8">
        <a
          href="/about"
          class="inline-block rounded bg-emerald-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-emerald-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          Learn more
        </a>
      </div>
    </div>
  </div>

  <Image
    src={heroImg}
    alt={heroImgDescription}
    class="h-56 w-full object-cover sm:h-full"
  />
</section>
