---
import routes from '../data/routes.mjs';

import NavBrand from './NavBrand.astro';
import NavLink from './NavLink.astro';

const nonHomeRoutes = routes.filter((route) => !Object.hasOwn(route, '/'));
---

<nav
  class="container lg:mb-8 py-4 sm:py-5 flex flex-col gap-y-1 sm:gap-y-0 sm:flex-row justify-between items-center"
>
  <NavBrand />

  <div
    class="mx-auto sm:mx-0 flex justify-between items-center flex-wrap gap-1"
  >
    {nonHomeRoutes.map((route) => <NavLink route={route} />)}
  </div>
</nav>
