---
import NewsItem from './NewsItem.astro';
const { entries } = Astro.props;
---

<ol data-collection="news">
  {
    entries.map((entry) => (
      <li class="box-shadow">
        <article>
          <NewsItem entry={entry} />
        </article>
      </li>
    ))
  }
</ol>
