---
import { Image } from 'astro:assets';
import featureImg from '../img/swinging_bridge.jpg';
---

<style>
  .text-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    @apply p-4 md:p-6 lg:p-8 rounded-lg;
    @apply w-11/12 md:w-4/5 lg:w-3/4 xl:w-2/3 max-w-screen-lg;
  }
  li {
    @apply flex gap-1 md:gap-2 lg:gap-3 mb-2 lg:mb-3;
    @apply leading-tight;
  }
  li::before {
    content: '✓';
    @apply text-white;
  }
</style>

<section
  class="relative h-dvh min-h-[600px] md:min-h-[700px] w-full flex justify-center items-center"
>
  <div class="text-overlay md:grid grid-cols-12 gap-x-10 gap-y-4">
    <h2
      class="col-span-12 mb-3 md:mb-0 text-2xl md:text-3xl lg:text-4xl font-bold text-white"
    >
      A vibrant destination...
    </h2>
    <div
      class="col-span-12 lg:col-span-7 mb-3 md:mb-0 text-white md:text-lg lg:text-xl/[30px] flex flex-col gap-3 md:gap-4"
    >
      <p>
        Located in the Patapsco River Valley, Relay and St. Denis are rich in
        history and natural beauty.
      </p>
      <p>
        The community is home to a variety of historic landmarks, including the
        Thomas Viaduct, the oldest multi-arched stone railroad bridge in the
        world, and Patapsco Valley State Park.
      </p>
      <p>
        The area is a popular destination for train, recreation and exercise
        enthusiasts alike. The picturesque streets highlight the glory of
        historic Baltimore County, Maryland.
      </p>
    </div>
    <ul
      class="col-span-12 lg:col-span-5 ml-2 md:ml-4 lg:ml-0 md:text-lg lg:text-xl text-white"
    >
      <li>Well-preserved residential architecture</li>
      <li>Tradition of activism and community engagement</li>
      <li>
        Walking distance to Patapscpo Park, the library, senior center and more
      </li>
      <li>Close to BWI airport and MARC train</li>
      <li>Near Baltimore and Wasthington DC</li>
    </ul>
  </div>
  <picture class="absolute h-full w-full brightness-125 -z-10">
    <Image
      src={featureImg}
      alt="Swinging bridge"
      class="h-full w-full object-cover"
    />
  </picture>
</section>
