---
import Logistics from './ItemDetailsLogistics.astro';
const { entry } = Astro.props;
const { title, location, time } = entry.data;
const showLogistics = time || location;
---

<div class="flex flex-col leading-none">
  <h3
    class="m-0 mb-auto text-base sm:text-xl md:text-2xl font-bold leading-none sm:leading-none md:leading-none"
  >
    {title}
  </h3>
  {showLogistics ? <Logistics time={time} location={location} /> : null}
</div>
