---
import Img from './Img.astro';
import Text from './Text.astro';
---

<style>
  section {
    @apply relative;
    @apply md:h-dvh md:min-h-[700px];
    @apply w-full;
    @apply flex justify-center items-center;
  }
</style>

<section>
  <Text />
  <Img />
</section>
