---
import { Image } from 'astro:assets';
import CheddarUpPaySvg from '../../img/CheddarUpPay-9b60c97e.svg';
---

<a
  href="https://my.cheddarup.com/c/ria-yearly-membership-dues"
  rel="noopener noreferrer"
  target="_blank"
>
  <Image
    src={CheddarUpPaySvg}
    alt="Pay with Cheddar Up"
    style="width:auto;height:auto;max-width:172px"
  />
</a>
