@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .leading-none {
    line-height: 1 !important;
  }
}

:root {
  --red: #df2935;
  --yellow: #fdca40;

  /* Shadows via https://www.joshwcomeau.com/shadow-palette/
     Light based on gray-500, dark based on gray-200;
   */
  --shadow-color-light: 240deg 3% 56%;
  --shadow-elevation-low-light: 0.3px 0.5px 0.7px
      hsl(var(--shadow-color-light) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color-light) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color-light) / 0.34);
  --shadow-elevation-medium-light: 0.3px 0.5px 0.7px
      hsl(var(--shadow-color-light) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-light) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-light) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color-light) / 0.36);

  --shadow-color-dark: 226deg 22% 6%;
  --shadow-elevation-low-dark: 0.3px 0.5px 0.7px
      hsl(var(--shadow-color-dark) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color-dark) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color-dark) / 0.34);
  --shadow-elevation-medium-dark: 0.3px 0.5px 0.7px
      hsl(var(--shadow-color-dark) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-dark) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-dark) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color-dark) / 0.36);
}

.box-shadow {
  box-shadow: var(--shadow-elevation-low-light);

  @media (prefers-color-scheme: dark) {
    box-shadow: var(--shadow-elevation-medium-dark);
  }
}

.all-small-caps {
  font-variant-caps: all-small-caps;
}

[data-heroblurb] {
  li {
    @apply mb-3 md:mb-5;
    @apply text-black dark:text-dmBlack;
  }
  li:last-of-type {
    @apply mb-0;
  }
  a {
    @apply text-red underline;
    @apply transition hover:text-blue;
  }
}

[data-prose] {
  @apply text-base md:text-lg;

  h2 {
    @apply mt-8 mb-6;
    @apply text-2xl md:text-3xl sm:font-bold;
  }
  h3 {
    @apply mt-3 mb-5;
    @apply text-xl sm:text-2xl sm:font-bold;
  }
  p {
    @apply mb-3 md:mb-4 max-w-[80ch];
  }
  ul {
    @apply mb-3 md:mb-4;
    @apply list-disc pl-5;
  }
  ol {
    @apply mb-3 md:mb-4;
    @apply list-decimal pl-5;
  }
  li {
    @apply mb-2;
  }
  a {
    @apply text-red dark:text-yellow underline;
    @apply transition hover:text-black dark:hover:text-red;
  }
  img {
    @apply my-6 md:my-8;
  }

  [data-collection='calendar'],
  [data-collection='news'] {
    @apply list-none pl-0;

    > li:last-of-type,
    > li > article > p:last-of-type {
      @apply mb-0;
    }
  }

  [data-collection='calendar'] {
    > li {
      @apply relative mb-4 md:mb-6 rounded;
    }
    > li::before {
      content: '';
      @apply absolute inset-y-0 left-0 w-[2px] md:w-1;
      @apply rounded-s;
      @apply bg-gradient-to-br to-[128%] md:to-[98%];
      @apply from-red to-yellow dark:from-yellow dark:to-red;
    }
    article {
      @apply ml-[2px] md:ml-1 px-4 py-3 md:px-6 md:py-4 rounded-r;
      @apply bg-gray-500 dark:bg-gray-200;

      h3 {
        @apply m-0 mb-auto;
        @apply text-base sm:text-xl md:text-2xl font-bold;
        @apply leading-none sm:leading-none md:leading-none;
      }

      > div > div > p:last-of-type {
        @apply mb-0;
      }
    }
  }

  [data-collection='news'] {
    > li {
      @apply mb-6 md:mb-8 p-4 md:p-6 rounded;
      @apply bg-gray-500 dark:bg-gray-200;

      > article > h3:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .container {
    @apply w-full max-w-screen-xl mx-auto;
    @apply px-4 lg:px-5;
  }
}
