---
export interface Props {
  title: string;
}

import '../relay.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  /* Styles below html because Prettier removes the !doctype when style block
     is above it, then things in Astro get wonky on pages where markdown
     is imported. Astro also has a problem watching changes to the layout file
     when on a wonky page. */
  body {
    @apply min-h-dvh flex flex-col;
    @apply bg-white dark:bg-dmBlack;
    @apply text-black dark:text-dmWhite;
  }
</style>
