---
import BaseLayout from './BaseLayout.astro';
import Nav from '../components/SiteHeader/Nav.astro';
import Footer from '../components/SiteFooter/Footer.astro';
import NewsAndCalendarFeeds from '../components/NewsPage/NewsAndCalendarFeeds.astro';

const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <Nav />
  <main>
    <header
      class="w-full max-w-screen-md lg:max-w-screen-xl mx-auto px-4 lg:px-6"
    >
      <h1 class="text-3xl md:text-4xl font-bold text-center">
        {title}
      </h1>
      <hr class="page-hr" />
    </header>
    <NewsAndCalendarFeeds />
  </main>
  <Footer />
</BaseLayout>
