---
import { relayDate } from '../utils.mjs';

import BaseLayout from './BaseLayout.astro';
import GlobalNav from '../components/SiteHeader/Nav.astro';
import GlobalFooter from '../components/SiteFooter/Footer.astro';

const { title, date } = Astro.props.frontmatter || Astro.props;

const d = relayDate(date);
const dt = d.toISOString().slice(0, 10);
const _d = new Intl.DateTimeFormat('en-US', {
  day: 'numeric',
  month: 'long',
  year: 'numeric',
  timeZone: 'UTC' // hack around the time zone rabbit hole
}).format(d);
---

<BaseLayout title={title}>
  <GlobalNav />

  <main class="w-full max-w-screen-md mx-auto px-3 sm:px-4">
    <header>
      <nav class="mb-4 flex">
        <a
          class="text-red dark:text-yellow transition hover:text-black dark:hover:text-red hover:underline"
          href="/news">← More news</a
        >
      </nav>
      <h1 class="mb-3 text-2xl sm:text-3xl md:text-4xl font-bold sm:text-left">
        {title}
      </h1>
      <time datetime={dt} class="text-sm md:text-base all-small-caps">{_d}</time
      >
    </header>
    <hr class="page-hr" />
    <article data-prose>
      <slot />
    </article>
    <!-- PUNTING ON GENERATING Prev/Next links, Astro docs don't address this -->
    <!-- <footer class="mt-8 lg:mt-12">
      <nav class="flex justify-between">
        <a href="#">← Previous post</a>
        <a href="#">Next post →</a>
      </nav>
    </footer> -->
  </main>

  <GlobalFooter />
</BaseLayout>
