---
import BaseLayout from './BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

const { frontmatter: fm } = Astro.props;
---

<style>
  main {
    @apply w-full max-w-screen-md mx-auto px-3 sm:px-4;
  }

  hr {
    @apply mt-2 mb-3 md:mt-4 md:mb-6 border-red bg-red h-1;
  }
</style>

<BaseLayout title={fm.title}>
  <Nav />
  <main>
    <h1 class="text-2xl sm:text-3xl font-bold">{fm.title}</h1>
    <hr />
    <article data-prose>
      <slot />
    </article>
  </main>
  <Footer />
</BaseLayout>
